.navbar_outer {
  width: 18vw;
  /* background: red; */
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;

}

.navbar_outer > section {
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
  align-items: center;
}
.navbar_outer > section > div {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.navbar_outer > section > div > span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
  cursor: pointer;
  width: 67%;
  align-items: flex-start;
  justify-content: flex-start;
}

.navbar_outer > section > div > span > p {
  color: #000;
  font-family: " Nunito";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

p {
  margin: 0px;
}

.selected_tag {
  border-radius: 30px;
  background-color: white;
 
  padding: 15px 25px;
  text-align: center;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

#react_tag {
  right: 0;
  position: absolute;
  width: 30px;
  height: 19px;
  background: #fff;
}



.logout{
  color: #2b2b2b;
  font-family: " Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  background: #f07f7f;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 7px 25px;
  border-radius: 3px;
}


@media (max-width: 976px) {
  .navbar_outer {
    width: 35vw;
  }
  .navbar_outer > section > div > span > p {
    font-size: 14px;
  }
  .navbar_outer > section > div > span{
    width: 52%;
    gap: 14px;
  }

}