.outer_signin {
    overflow-y: auto;
    /* max-height: 1000px; */
    position: fixed;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(../../Images/image\ 10.png);
    /* background-position: center; */
    background-color: rgba(194, 218, 251, 0.9);
    background-attachment: fixed;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signin_inside {
    border-radius: 35px;
    background: #fff;
    display: flex;
    gap: 20px;
    width: 70%;
    height: 60%;
  }
  
  .signin_inside > p {
    display: flex;
    margin-top: 10%;
    width: 1px;
    height: 60%;
    justify-content: center;
    align-items: center;
    background: rgba(170, 178, 200, 0.45);
  }
  
  .left_signin {
    width: 50%;
    display: flex;
    padding-top: 23px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
  }
  .left_signin > span {
    color: #000;
    text-align: center;
    font-family: "Nunito";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
  }
  
  .left_signin > section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .left_signin > section > span {
    color: rgba(0, 0, 34, 0.5);
    text-align: center;
    font-family: "Nunito";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
  }
  .left_signin > section > p {
    width: 23%;
    height: 2px;
  
    background: linear-gradient(
        0deg,
        rgba(170, 178, 200, 0.45) 0%,
        rgba(170, 178, 200, 0.45) 100%
      ),
      linear-gradient(
        0deg,
        rgba(170, 178, 200, 0.45) 0%,
        rgba(170, 178, 200, 0.45) 100%
      ),
      linear-gradient(
        0deg,
        rgba(170, 178, 200, 0.45) 0%,
        rgba(170, 178, 200, 0.45) 100%
      ),
      rgba(170, 178, 200, 0.45);
  }
  
  .all_input {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .all_input input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    width: 70%;
    background: #fff;
    outline: none;
  }
  
  .all_input > button {
    width: 74%;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    background: #1f64ff;
    color: #fff;
    text-align: center;
    font-family: "Nunito";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
  .all_input > button:hover {
    background: #1348c5;
  }
  
  .left_signin > p {
    padding-top: 14px;
    color: rgba(0, 0, 34, 0.5);
    text-align: center;
    font-family: " Nunito";
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
  }
  
  .buttons_signin {
    display: flex;
    width: 77%;
    justify-content: space-between;
  }
  
  .buttons_signin > button {
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    cursor: pointer;
    color: rgba(0, 0, 34, 0.5);
    font-family: "Nunito";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  
    border: 1px solid #c0c0c0;
    background: #fff;
  }
  
  .buttons_signin > button:hover {
    background: #bdbdbd;
  }
  h3 {
    margin: 0px;
  }
  
  .left_signin > h3 {
    margin-top: 14px;
    color: rgba(0, 0, 34, 0.5);
    font-family: "Nunito";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  
  .left_signin > h3 > strong {
    color: #1f64ff;
    cursor: pointer;
  }
  

  @media (max-width: 746px) {
    .left_signin > span{
      font-size: 28px;
    }
    .left_signin > section > span{
      font-size: 11px;
    }
    .all_input input{
      padding: 8px;
    }
    .all_input > button {
      padding: 8px;
    }
    .buttons_signin > button {
      padding: 8px;
      font-size: 11px;
    }
    .left_signin > h3{
      font-size: 12px;
    }
  }